/* Variables */
:root {
    --primary: #900020;
    --primary-dark: #70001a;
    --secondary: #333;
    --light: #fff;
    --dark: #000;
    --gray: #707070;
    --light-gray: #f5f5f5;
    --transition: all 0.25s ease;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.25s ease;
  }
  
  body {
    font-family: 'Uber Move Text', sans-serif;
    line-height: 1.6;
    color: var(--secondary);
    overflow-x: hidden;
  }
  
  body.menu-open {
    overflow: hidden;
  }
  
  /* Header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo-container img {
    padding-top: 5px;
    height: 50px;
    width: auto;
    transition: var(--transition);
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .nav-links a {
    color: var(--light);
    text-decoration: none;
    font-size: 1.1rem;
    transition: var(--transition);
  }
  
  .nav-links a:hover {
    color: var(--primary);
  }
  
  .mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    color: var(--light);
    font-size: 1.5rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  
  /* Hero Section */
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    padding: 8rem 2rem 4rem;
    background-color: var(--light-gray);
    text-align: left;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0; /* Para que quede detrás del contenido */
  }

  .overlay-hero {
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Asegura que los elementos estén en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .overlay-hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
    margin-bottom: 200px;
  }
  
  /* Imagen decorativa derecha
  .decor-right {
    position: absolute;
    top: 10%;
    right: 0;
    width: 415px;
    height: auto;
  } */
  
  .hero-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    max-width: 60%;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 60%;
  }
  
  /* .overlay-hero .cta-button {
    margin-top: 200px;
    text-align: center; /* Asegura que el texto del botón esté centrado
  } */
  
  .cta-button {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.8rem 1.8rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: var(--transition);
  }
  
  .cta-button:hover {
    background-color: var(--primary);
  } */
  
  /* About Section */
  .about-section {
    margin-top: 100px;
    padding: 4rem 2rem;
    position: relative;
  }
  
  .decor-left {
    position: absolute;
    opacity: 50%;
    top: 100%;
    left: 0;
    width: 550px;
    height: auto;
    z-index: -1; /* Para que quede detrás del contenido */
}

.decor-right2 {
    position: absolute;
    opacity: 50%;
    top: 100%;
    right: 0%;
    width: 300px;
    height: auto;
    z-index: -1; /* Para que quede detrás del contenido */
  }

  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
  }

  #imagen-cambiante {
    transition: opacity 0.2s ease-in-out; /* Transición suave de 1 segundo */
    opacity: 1; /* Imagen completamente visible */
}

#imagen-cambiante.hidden {
    opacity: 0; /* Imagen oculta */
}

  .image-container img {
    width: 100%;
    max-width: 595px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
  }
  
  .about-content {
    max-width: 500px;
    text-align: left;
    left: 4%;
    padding: 70px 25px 70px 35px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-content h2 {
    max-width: 100%;
    font-size: 40px;
    color: var(--secondary);
    margin-bottom: 1rem;
  }
  
  .about-content p {
    font-size: 1.1rem;
    color: var(--secondary);
    line-height: 1.6;
    text-align: justify;
  }
  
  .about-content a {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 5px;
    text-decoration: none;
    transition: var(--transition);
  }
  
  .about-content a:hover {
    background-color: var(--primary-dark);
  }
  
  /* Problem/Solution Section */
  .problem-solution-section {
    position: relative;
    padding: 8rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .ps-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
  }
  
  .ps-container img {
    width: 50%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
  }
  
  .ps-container img:hover {
    transform: scale(1.02);
  }
  
  .ps-content {
    width: 50%;
    padding: 0 2rem;
  }
  
  .ps-content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--primary);
  }
  
  .ps-content p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .ps-content a {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 5px;
    text-decoration: none;
    transition: var(--transition);
  }

  .ps-content a:hover {
    background-color: var(--primary-dark);
  }
  
  .solution {
    flex-direction: row-reverse;
  }
  
  .decor-right3 {
    position: absolute;
    opacity: 50%;
    bottom: 0%;
    left: 70%;
    width: 550px;
    height: auto;
    z-index: -1; /* Para que quede detrás del contenido */
  }
  
  /* Mission Section */
  .mission-section {
    position: relative;
    padding: 4rem 2rem;
    background-color: var(--light-gray);
  }
  
  .section-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 3rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mission-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .mission-card {
    flex: 1 1 300px;
    max-width: 350px;
    background: var(--light);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .mission-card:hover {
    transform: translateY(-10px);
  }
  
  .mission-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1.5rem;
  }
  
  .card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary);
  }
  
  .card-content ul {
    list-style: none;
  }
  
  .card-content li {
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 1.5rem;
  }
  
  .card-content li::before {
    content: "•";
    color: var(--primary);
    position: absolute;
    left: 0;
  }
  
  /* News Section */
  .news-section {
    position: relative;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .news-section h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 3rem;
    color: var(--secondary);
  }
  
  .news-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .news-card {
    flex: 1 1 300px;
    max-width: 350px;
    padding: 2rem;
    text-align: center;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .news-card:hover {
    transform: translateY(-10px);
    transition: var(--transition);
  }
  
  .news-card i {
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 1.5rem;
  }
  
  .news-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .news-card p {
    margin-bottom: 1.5rem;
    color: var(--gray);
  }
  
  .news-button {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 5px;
    text-decoration: none;
    transition: var(--transition);
  }
  
  .news-button:hover {
    background-color: var(--primary-dark);
  }
  
  .decor-bg-l {
    position: absolute;
    top: 0px;
    left: -12%;
    width: 500px;
    height: auto;
    opacity: 0.7;
    z-index: -1;
  }

  .decor-bg-r {
    position: absolute;
    top: 0px;
    right: -12%;
    width: 500px;
    height: auto;
    opacity: 0.7;
    z-index: -1;
  }
  
  /* Careers Section */
  /* .careers-section {
    padding: 8rem 3rem;
    background-color: var(--light-gray);
    color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
  }
  
  .careers-content {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .careers-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  } */
  
  /* Footer */
  .footer {
    background-color: var(--dark);
    color: var(--light);
    /* padding: 4rem 2rem 2rem; */
    /* margin-top: 4rem; */
    border-top: 2px solid var(--primary);
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .footer-logo {
    text-align: center;
  }
  
  .footer-logo img {
    width: 150px;
    padding-top: 25px;
  }
  
  .footer-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .link-column {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 250px;
    color: var(--light);
  }
  
  .link-column h4 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .link-column a {
    display: block;
    color: var(--light);
    margin-bottom: 0.8rem;
    text-decoration: none;
    transition: var(--transition);
  }
  
  .link-column a:hover {
    color: var(--primary);
  }
  
  .link-column-contact {
    margin-left: 25px;
    margin-bottom: 25px;
    max-width: 250px;
    color: var(--light);
  }

  .link-column-contact h4 {
    font-size: 1.2rem;
    margin-bottom: 25px;
  }

  .link-column-contact a {
    display: inline-block;
    padding: 10px 15px;
    color: var(--light);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    transition: var(--transition);
  }

  .link-column-contact a:hover {
    transition: all 0.2s;
    color: var(--primary);
  }

  .link-column-contact a:active {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--light);
    box-shadow: 0 0px 10px rgb(143, 11, 29);
    transition: all 0.2s ease-in-out;
  }

  .social-media {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* margin-top: 2rem; */
  }
  
  .social-media a {
    color: var(--light);
    font-size: 1.5rem;
    transition: 0.2s ease;
  }
  
  .social-media a:hover {
    transition: all 0.2s;
    color: var(--primary);
  }
  
  .copyright {
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 17px;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  /* Media Queries */
  @media (max-width: 992px) {
    .hero-section h1,
    .hero-section p {
      max-width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      background: var(--dark);
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      z-index: 999;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      max-height: calc(100vh - 80px);
      overflow-y: auto;
    }
    
    .nav-links.active {
      display: flex;
    }
    
    .mobile-menu-btn {
      display: flex;
    }

    body.menu-open {
      overflow: hidden;
  }
    
    body.menu-open::after {
      content: '';
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.5);
      z-index: 998;
    }
    
    .hero-section {
      padding: 7rem 1.5rem 3rem;
      text-align: center;
      margin-top: 60px;
    }
    
    .hero-section h1,
    .hero-section p {
      max-width: 100%;
    }

    .overlay-hero img {
      width: 300px; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
      margin-bottom: 100px; /* Ajusta el margen inferior para pantallas pequeñas */
    }

    .hero-bg {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
    
    .decor-right {
      display: none; /* Oculta las imágenes en pantallas pequeñas */
    }
    
    .decor-left {
      display: none; /* Oculta las imágenes en pantallas pequeñas */
    }
    
    .decor-right2 {
      display: none; /* Oculta las imágenes en pantallas pequeñas */
    }
    
    .decor-right3 {
      display: none; /* Oculta las imágenes en pantallas pequeñas */
    }
    
    .decor-bg-l {
      display: none; /* Oculta las imágenes en pantallas pequeñas */
    }
    
    .decor-bg-r {
      display: none; /* Oculta las imágenes en pantallas pequeñas */
    }

    .about-container {
      flex-direction: column; /* Cambia la dirección a columna */
      align-items: center; /* Centra los elementos */
      text-align: center; /* Centra el texto */
  }
  
    .image-container img {
      margin: 0 0 20px 0; /* Agrega espacio debajo de la imagen */
      max-width: 90%; /* Ajusta el tamaño de la imagen */
  }
  
  .about-content {
      padding: 20px; /* Reduce el padding */
      max-width: 90%; /* Ajusta el ancho máximo */
  }
  
    .ps-container {
      flex-direction: column;
    }
    
    .solution {
      flex-direction: column;
    }
    
    .ps-container img,
    .ps-content {
      width: 100%;
    }
    
    .ps-content {
      padding: 1.5rem 0;
      text-align: center;
    }
    
    .mission-cards,
    .news-cards {
      flex-direction: column;
      align-items: center;
    }
    
    .mission-card {
      flex: 0 0 100%;
    }
    
    .footer-contents {
      flex-direction: row;
      gap: 5rem;
    }
    
    .footer-logo img {
      margin: 0 auto;
      display: block;
    }
    
    .footer {
      /* margin-top: 2rem; */
      padding-top: 2rem;
    }
  }
  
  @media (max-width: 576px) {
    .hero-section h1 {
      font-size: 2rem;
    }
    
    .hero-section p {
      font-size: 1rem;
    }
    
    .about-content h2,
    .section-title,
    .news-section h2 {
      font-size: 1.8rem;
    }
    
    .careers-section h2 {
      font-size: 2rem;
    }
    
    .footer-container {
      gap: 2rem;
    }
    
    .footer-logo img {
      width: 120px;
    }
    
    .cta-button,
    .news-button {
      padding: 0.7rem 1.2rem;
      font-size: 0.9rem;
    }
  }
